extends ../../layout

block title
	title ДОБАВИТЬ ОБЪЕКТ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/popclip.css')
	link(rel='stylesheet', type='text/css', href='/build/css/edit.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/libs/js/jquery.popline.min.js')
	script(type='text/javascript', src='/build/js/edit.js')


block content
	.edit_project_block
		input#image_main_fallback(type='file')
		input#images_second_fallback(type='file')
		a.back_link(href='/auth/objects') < Назад
		.title ДОБАВИТЬ ОбЪЕКТ
		.form_image_main
			.form_desc_title Главное изображение
		.form_text
			.form_title(contenteditable=true) Заголовок
			.form_description(contenteditable=true) Описание
		.form_options
			//- input.form_old(type='checkbox', name='old', value='true')
			//- |архив
			.separator_title Категория:
			select.form_category(name='category')
				option(value='') нет
				option(value='altai') Куку
				option(value='belg') Кря кря
			.separator_title Адрес:
			input.form_adress(type="text", name="ru[adress]",)
			.separator_title Интервал:
			input.interval_start(type="text", placeholder='Начало')
			br
			input.interval_end(type="text", placeholder='Конец')
			.separator_title Стиль:
			select.era
				each age in ages
					option(value=age._id)= age.i18n.title.get('ru')
			.separator_title Эпоха:
			each age in ages
				.ages
					each age_sub in age.sub
						input.age(type='checkbox', value=age_sub._id, disabled=true)
						!= age_sub.i18n.title.get('ru')
			.submit Добавить
		.form_images_second
			.form_desc_title Изображения