extends ../../layout

block title
	title ПЕЧАТЬ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')
	link(rel='stylesheet', type='text/css', href='/build/css/print.css')

block content
	.objects_block
		each object in objects
			.object_item
				.object_description_block
					- var link = session.user_id ? '/auth/objects/edit/' + object._id : '/objects/' + object._id
					a.object_title(href=link, target='_blank')= object.i18n.title.get('ru')
					.object_interval= object.meta.interval.start.getFullYear() + ' - ' + object.meta.interval.end.getFullYear()
					.object_architects
						each architect in object.architects
							.architect_item= architect.i18n.name.get('ru')
					.object_categorys
						each category in object.categorys
							.category_item= category.i18n.title.get('ru')
					.object_description!= object.i18n.description.get('ru')
				.object_graphics_block
					.object_images
						each image in object.images
							.image_item
								img.image_img(src=image.thumb)
								.image_description!= image.description[0].value
					.object_subjects
						each subject in object.subjects
							.subject_item
								a(href='/auth/objects/' + object._id + '/subjects/edit/' + subject._id, target= '_blank')
									img.subject_image(src=subject.image.thumb)
								.subject_interval= subject.meta.interval.start.getFullYear() + ' - ' + subject.meta.interval.end.getFullYear()
								.subject_inventory= subject.meta.inventory
								.subject_title= subject.i18n.title.get('ru')