extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/columns2.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)
	script(type='text/javascript', src='/build/js/columns2.js' + version)

block content_title
	.periods
		each era in eras
			.period
				.period_title=era.era.title.ru
block content
	.content_block_inner
		.content_block_styles
			each era in eras
				.styles_container
					h2.data_style_name(data_name=era.era.title.ru)=era.era.title.ru
					each age in era.ages
						h3.data_style_in_name=age.age.title.ru
						each object in age.objects
							a.object_block(href='/objects/' + object._id)
								.object_block_image=object.image
								.object_block_title=object.title.ru
								.object_block_date=object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear()
