extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/columns.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)
	script(type='text/javascript', src='/build/js/columns.js' + version)

block content_title
	.header_title_control
		.header_title_control_inner
			.styles_controls
					.styles_controls_view_block
						.styles_classic_toggle
						.styles_list
						.styles_sort
					.styles_controls_back &lt;
					.styles_controls_front &gt;
			.content_title Колонки

block content
	.content_block_inner
		.content_block_styles
			each era in eras
				.styles_container(data_style_name=era.era.title.ru)
					each age in era.ages
						.periods_col
							.periods_col_objects
								.periods_col_objects_inner
									h3= age.age.title.ru
									each object in age.objects
										a.object_block(href='/objects/' + object._id)
											.object_block_image
											.object_block_title=object.title.ru
											.object_block_date=object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear()
	.footer
		.periods
				each era in eras
					.period
						.period_title=era.era.title.ru
						.period_line
							.period_line_inner
						.period_dates
							.date0=era.era.interval.start.getUTCFullYear()
							.date2=era.era.interval.end.getUTCFullYear()



//-
				.period.period_nar_bar
					.period_title Нарышкинское барокко
					.period_line
						.period_line_inner
					.period_dates
						.date1 1700
				.period.period_bar
					.period_title Барокко
					.period_line
						.period_line_inner
					.period_dates
						.date1 1770
				.period.period_class.active
					.period_title Классицизм
					.period_line
						.period_line_inner
					.period_dates
						.date1 1800
				.period.period_eklect
					.period_title Эклектика
					.period_line
						.period_line_inner
					.period_dates
						.date1 1870
				.period.period_modern
					.period_title Модерн
					.period_line
						.period_line_inner
					.period_dates
						.date1 1900
				.period.period_konstr
					.period_title Конструктивизм
					.period_line
						.period_line_inner
					.period_dates
						.date1 1920
						.date3 1930
