extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.touchSwipe.min.js' + version)
	script(type='text/javascript', src='/build/js/index.js' + version)

block content_title
	.styles_block
		.styles_inner_block
			each age in ages
				a.style_item(href='/styles/#' + age._id)
					.style_name=age.i18n.title.get('ru')

block content
	.screen_block.intro_block
		.intro_block_title
			.intro_block_title_inner.screen_width
				.main_title
					| Виртуальный музей
				.additional_title
					| Государственного музея архитектуры им. А.В.Щусева
				a.intro(href='/styles')
					| Войти
		.intro_block_background
		.goto_down
			.goto_down_inner.screen_width
				a 

	.screen_block.description_block.screen_block_height
		.description_inner.screen_width
			.description_title Виртуальный музей
			.description_block
				.description_text
					p Виртуальный музей архитектуры – это специальный проект Государственного музея архитектуры им. А.В.Щусева, целью которого становится знакомство самой широкой аудитории с уникальной коллекцией музея, насчитывающей более миллиона экспонатов.
					p Сайт виртуального музея строится на историческом принципе: вся история отечественной архитектуры делится на семь разделов-периодов.
					p Каждый раздел открывают тексты, подготовленные научными сотрудниками Музея, и иллюстрируют материалы из различных фондов: отдела фототеки, графики и трехмерных объектов. При этом каждое изображение подробно аннотировано, а структура сайта позволяет сортировать архитектурные объекты по нескольким основным принципам: автору, стилю, времени и месту постройки.
					p Таким образом,каждый пользователь и посетитель сайта сможет составить свою собственную подборку изображений, сформированную по одному или понескольким параметрам.
				.description_text2
					//.description_sponsor При поддержке
					.logo_block
						img.krf(src='/images/design/krf2.png')
						img.ma(src='/images/design/logo_big.png')


	.screen_block.periods_block
		.description_inner.screen_width
			.description_title Представленные периоды
			a.styles_line_nav.prev 
			a.styles_line_nav.next 
			.styles_line
				.styles_inner_line
					each age in ages
						a.style_block(href='/styles/#' + age._id)
							.style_image(style="background-image:url("+age.image.thumb+")")
							.style_title
								.style_title_inner= age.i18n.title.get('ru')
								.style_title_date= age.meta.interval.start.getUTCFullYear() + ' – ' + age.meta.interval.end.getUTCFullYear()
							.style_description
								.style_description_inner
									-var text_d = new String(age.i18n.description.get('ru'))
									span= text_d.replace(/<\/?[^>]+>/g,'').substr(0, 400) + '...'

	.screen_block.special_block
		.special_block_background
			.object_images_block
				each project, i in projects
					.object_image(style='background-image:url(' + project.photo + ')')
						.images_navigate_block
							.images_navigate_block_inner.screen_width
								a.images_description(href='/projects/' + project._id)
									.main_title= project.i18n.title.get('ru')
									.additional_title
										| Виртуальная экскурсия

								.images_navigate_block_prev
									.images_arrow &lt;
								.images_navigate_block_next
									.images_arrow
										.next_arrow &gt;

