extends ../layout

block title
	title МУАР

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.touchSwipe.min.js' + version)
	script(type='text/javascript', src='/build/js/index.js' + version)

block content_title
	.styles_block
		.styles_inner_block
			each age in ages
				a.style_item(href='/styles/#' + age._id)
					.style_name=age.i18n.title.get('ru')

block content
	.screen_block.intro_block
		.intro_block_title
			.intro_block_title_inner.screen_width
				.main_title
					| Виртуальный музей
				.additional_title
					| Государственного музея архитектуры им. А.В.Щусева
				a.intro(href='/styles#546a29e8c77affd5f518e52e')
					| Войти
		.intro_block_background
		.goto_down
			.goto_down_inner.screen_width
				a 

	.screen_block.description_block.screen_block_height
		.description_inner.screen_width
			.description_title Виртуальный музей
			.description_block
				.description_text

					p Виртуальный музей архитектуры – это проект Государственного музея архитектуры имени А.В. Щусева, реализованный по инициативе и поддержке Министерства культуры Российской Федерации.
					p	Архитектура как особый вид искусства нуждается в специальных и современных способах представления. Формат интернет-портала и 3D-экскурсий становятся новой, высокотехнологичной и адекватной формой репрезентации архитектуры. История создания отдельных зданий в эскизах, чертежах и макетах, а также проектные материалы нереализованных построек, фотографические снимки и обмерные чертежи утраченных сооружений позволяют зрителю наглядно представить развитие отечественной архитектуры.
					p Кроме того, виртуальный режим бытования музейных экспонатов (графики, архивных фотографий) и современной архитектурной съемки сохранившихся до наших дней зданий поможет самому широкому кругу зрителей увидеть и оценить основные памятники и достижения русского зодчества. Так, любой интернет-пользователь из любого города России и мира, для которого уникальная коллекция Музея архитектуры оказывается малодоступной, сможет не только ознакомиться с основными этапами развития русской архитектуры, но создавать собственные подборки объектов и изображений, отсортировав их по нескольким параметрам: стилю, времени, архитектору и месту постройки.
					p Виртуальный музей архитектуры, снабженный научными текстами, описаниями и аннотациями, становится уникальным ресурсом по изучению истории отечественной архитектуры – прогрессивным, мобильным и доступным.

				.description_text2
					//- .description_sponsor При поддержке
					.logo_block
						a(href='http://culture.ru' + ref, target='_blank',)
							img.krf(src='/images/design/krf2.png')
						a(href='http://muar.ru', target='_blank',)
							img.ma(src='/images/design/logo_big.png')


	#styles.screen_block.periods_block
		.description_inner.screen_width
			.description_title Представленные периоды
			.styles_nav_block.screen_width
				a.styles_line_nav.prev 
				a.styles_line_nav.next 
			.styles_line_outer
				.styles_line
					.styles_inner_line
						each age in ages
							a.style_block(href='/styles/#' + age._id)
								.style_image(style="background-image:url("+age.image.thumb+")")
								.style_title
									.style_title_inner= age.i18n.title.get('ru')
									.style_title_date= age.meta.interval.start.getUTCFullYear() + '-е—' + age.meta.interval.end.getUTCFullYear() + '-е'
								.style_description
									.style_description_inner
										- var text_d = new String(age.i18n.description.get('ru'))
										span= text_d.replace(/<\/?[^>]+>/g,'').substr(0, 400) + '...'
									.style_readmore ...

	#projects.screen_block.special_block
		.description_inner.screen_width
			.description_title Спецпроекты
			.styles_nav_block.screen_width
		.special_block_background.screen_width
			.object_images_block
				- var projects_hard = {'5487420c7fb6fa000081e885': 'chudov-i-voznesenskiy-monastyri-kremlya', '548496fb1fcde50000be2f14': 'proekt-bolshogo-kremlyovskogo-dvortsa'}
				each project, i in projects
					a.special_item_block(href='/projects/' + (projects_hard[project._id] || project._id) )
						.special_image(style='background-image:url(' + project.photo + ')')
						.special_title= project.i18n.title.get('ru')
						.special_description
							.special_description_inner: != project.i18n.description.get('ru').substr(0, 600) + '...'

						.special_readmore ...


