extends ../layout

block title
	title МУАР | СТИЛИ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/styles.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/styles.js' + version)

block content_title
	.navigate_block
		.navigate_styles_block
			each era in eras
				.navigate_style_block
					.navigate_style_title= era.era.title.ru
					.navigate_style_progress
					.navigate_style_ages
						each age in era.ages
							.navigate_age= age.age.title.ru

block content
	.styles_block
		.styles_inner
			each era in eras
				.style_block
					.style_block_inner
						.style_inner_height
							each age in era.ages
								.age_block
									.age_header
										.age_line
										.age_title= age.age.title.ru
									.age_objects
										each object in age.objects
											a.object_block(href='/objects/' + object._id, style='background-image:url(' + object.image + ')')
												.object_description
													.object_description_inner
														.object_title=object.title.ru
														.object_date=object.interval.start.getUTCFullYear() + ' - ' + object.interval.end.getUTCFullYear()
