extends ../layout

block title
	title= object.title.ru


block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/object.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/object.js' + version)


block content_title



block content
	.object_container
		.project_image_main(style='background-image:url(' + object.images.main + ')')
			.project_image_main_inner
				h1.project_title= object.title.ru
		each image in object.images.second
			.project_image_second(style='background-image:url(' + image.path + ')')
	.project_description_block
		.project_description= object.description.ru
	.object_images_types
		.object_images_pictures Изображения
		.object_images_museum Единицы хранения
		.object_images_3d 3d
	.project_images_second_block
		.images_second_column
			each image in object.images.second
				.image_second_block(style='background-image:url(' + image.path + ')')
					//.image_second_description=image.description



//-block content
	.project_image_main(style='background-image:url(' + object.images.main + ')')
	.project_content_block
		h1.project_title= object.title.ru
		//-.project_category= project.subs_category
		.project_description_block
			.project_description= object.description.ru
			.project_columns_block колонки
		.project_title Изображения
		.project_images_second_block
			.images_second_column
				each image in object.images.second
					.image_second_block
						img.image_second(src=image.path)
						.image_second_description=image.description