extends ../../layout

block title
	title РЕДАКТИРОВАТЬ СТИЛЬ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')
	script(type='text/javascript', src='/build/js/edit_era.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/eras') < Назад
		.title РЕДАКТИРОВАТЬ СТИЛЬ
		form(action="", method="post")
			.form_title Название:
			input.ru(type="text", name="ru[title]", value=era.title.ru)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= era.description.ru
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Интервал начало:
			input.ru(type="text", name="interval[start]", value=era.interval.start.getUTCFullYear())
			.form_title Интервал конец:
			input.ru(type="text", name="interval[end]", value=era.interval.end.getUTCFullYear())
			br
			br
			input(type='submit', value='сохранить')
		.form_title Периоды:
		each age in era.ages
			.snake(id=age._id)
				button.back(type='button') удалить
				input.age_title(type="text", name="ages[title][]", placeholder="Название", value=age.title.ru)
				input.age_start(type="text", name="ages[interval][start][]", placeholder="Начало", value=age.interval.start.getUTCFullYear())
				input.age_end(type="text", name="ages[interval][end][]", placeholder="Конец", value=age.interval.end.getUTCFullYear())
				button.save(type='button', disabled) сохранить
		br
		button(type='button').forward добавить период